# Ignore Python compiled files
__pycache__/
*.pyc
*.pyo

# Ignore virtual environment
# venv/
# myenv/

# Ignore environment variables
.env

# Ignore static and media files (optional)
# staticfiles/
# media/

# Ignore database files (if using SQLite)
# db.sqlite3
